<!DOCTYPE html>
<html class="govuk-template no-js">

<head>
    <meta charset="utf-8">
    <title>Shortest Path Tool</title>
    <link rel="stylesheet" href="/govuk-frontend-4.3.1.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">
</head>

<body class="govuk-template__body">

    <header class="govuk-header app-header" role="banner" data-module="govuk-header">
        <div class="govuk-header__container govuk-header__container--full-width">
            <div class="govuk-header__logo">
                <a href="/" class="govuk-header__link govuk-header__link--homepage">
                    <span class="govuk-header__logotype-text">
                        Shortest Path Tool
                    </span>
                    </span>
                </a>
                <strong class="govuk-tag">Alpha</strong>
            </div>
        </div>
    </header>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

            <!-- Header -->
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">Find shortest paths</h1>
                </div>
            </div>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- File upload form -->
                    <div class="govuk-form-group">
                        <form action="upload" method="post">

                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                    Number of hops
                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName1">
                                        Maximum number of hops from one entity to another
                                    </label>                                       
                                    <select name="numberHops" class="govuk-select" id="numberHops">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>   
                                </div>                                  
                            </fieldset>

                            <!-- Dataset 1 -->
                            </p>
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                    Dataset 1
                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName1">
                                        Name
                                    </label>                                    
                                    <input type="textarea" class="govuk-textarea" id="datasetName1" name="datasetName1"
                                        placeholder="" />
                                </div>  
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName1">
                                        Entity IDs
                                    </label>                                     
                                    <textarea id="dataset1" class="govuk-textarea" name="datasetEntities1" rows="4"
                                    placeholder=""></textarea>
                                </div>                                       
                            </fieldset>

                            <!-- Dataset 2 -->
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                    Dataset 2 (Optional)
                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName2">
                                        Name
                                    </label>                                     
                                    <input type="textarea" class="govuk-textarea" id="datasetName2" name="datasetName2"
                                        placeholder="" />
                                </div>  
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName1">
                                        Entity IDs
                                    </label>                                      
                                    <textarea id="dataset2" class="govuk-textarea" name="datasetEntities2" rows="4"
                                    placeholder=""></textarea>
                                </div>                                       
                            </fieldset>

                            <!-- Dataset 2 -->
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                    <h1 class="govuk-fieldset__heading">
                                    Dataset 3 (Optional)
                                    </h1>
                                </legend>
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName2">
                                        Name
                                    </label>                                    
                                    <input type="textarea" class="govuk-textarea" id="datasetName3" name="datasetName3"
                                        placeholder="" />
                                </div>  
                                <div class="govuk-form-group">
                                    <label class="govuk-label" for="datasetName1">
                                        Entity IDs
                                    </label>                                      
                                    <textarea id="dataset3" class="govuk-textarea" name="datasetEntities3" rows="4"
                                    placeholder=""></textarea>
                                </div>                                       
                            </fieldset>

                            <input type="submit" class="govuk-button" data-module="govuk-button" />
                        </form>
                    </div>

                </div>
                <div class="govuk-grid-column-one-third">

                    <!-- Message -->
                    <div class="govuk-inset-text">
                        <p>{{{ message }}}</p>
                    </div>

                    <!-- Instructions -->
                    <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            Instructions
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                          
                            <!-- Helpful note for user -->
                            <div class="govuk-body">
                                <p>This tool finds all shortest paths between entities.
                                    It returns an Excel file that can be imported into i2 Analyst Notebook.</p>
                                <p>Entity IDs can be separated by any combination of newlines, spaces, commas, semicolons or tabs.</p>
                                <p>A grouping of entity IDs is called a dataset and its name is passed through to the Excel file.</p>
                            </div>

                            <div class="govuk-body">
                                <p>If one dataset is submitted, paths between all pairs of entities in that
                                dataset are computed.</p>
                                <p>If two or more datasets are submitted, paths between an entity in
                                one dataset and an entity in another dataset are computed.</p>
                            </div>                            
                        </div>
                    </details>                    

                </div>
            </div>

        </main>
    </div>

</body>

</html>